.block-local {
    text-align: center;
    vertical-align: middle;
}
.but-local {
    display: inline-block;
    margin: 15px -5px;
    padding: 0 10px;
    background-color: #01D28E;
}
.but-local a:hover {
    padding: 0 10px;
    background: #009D69;
    color: #ffffff;
}